<!DOCTYPE html>
<html>
  <head>
    <title>TODO</title>
    <link rel="stylesheet" type="text/css" href="styleSheet.css" />
    <script src="TODO.js"></script>
  </head>
  <body>
    <div id="todoId">###id###</div>
    <h1>###title###</h1>
    <h3>###description###</h3>
    <div>
      <label>Add Item</label>
      <textarea type="text" name="item" id="item" rows="4" cols="20"></textarea>
      <button id="addItem">Add Item</button>
      <div>
        <ul>
          TODO - Items
          <div id="TODOItems">###TODO_items###</div>
        </ul>
      </div>
    </div>
  </body>
</html>
