<!DOCTYPE html>
<html>
  <head>
    <title>TODO</title>
    <link rel="stylesheet" type="text/css" href="styleSheet.css" />
    <script src="scripts/todoScript.js"></script>
  </head>
  <body>
    <div class="todoPage">
      <div class="addTasks">
        <div id="todoId">###id###</div>
        <h1>###title###</h1>
        <h3>###description###</h3>
        <label>Add Item</label>
        <textarea type="text" name="item" id="item" rows="4" cols="20">
        </textarea>
        <button id="addItem">Add Item</button>
      </div>
      <div class="tasks">
        <ul>
          TODO - Items
          <div id="TODOItems">###TODO_items###</div>
        </ul>
      </div>
      <a href="/dashboard">HOME</a>
    </div>
  </body>
</html>
