.signUpForm {
  text-align: center;
  width: 500px;
  height: 400px;
  padding: 25px;
  margin: 70px auto;
  background-color: whitesmoke;
}

.inputTag {
  padding: 5px;
  height: 20px;
  width: 200px;
  margin: 10px 100px;
  border-radius: 5px;
}

.labelTag {
  font-size: 20px;
}

.loginButton {
  height: 35px;
  width: 250px;
  font-size: 20px;
  margin: 0px 80px;
  background-color: greenyellow;
  border-radius: 15px;
}

.loginForm {
  width: 400px;
  height: 400px;
  border: solid white;
  padding: 30px;
  margin: 0px auto;
  background: whitesmoke;
}
/* .heading {
  text-align: center;
} */
.addTodo {
  text-align: center;
  padding: 20px;
  margin: 10px;
  border: 1px solid black;
}

.newUser {
  text-align: center;
}

.signupButton {
  height: 30px;
  width: 215px;
  font-size: 20px;
  margin: 10px;
  border-radius: 5px;
  background-color: greenyellow;
}

.signupPage {
  /* background-color: rgb(36, 53, 61); */
}

.inputDiv {
  margin: 100px auto;
}

/* .dashBoard {
  display: flex;
} */
.titles {
  align-content: center;
  padding: 20px;
  margin: 10px;
  border: 1px solid black;
}
.todo {
  display: flex;
}

.todoPage {
  display: flex;
  flex-direction: column;
}

.addTasks {
  text-align: center;
  padding: 20px;
  margin: 10px;
  border: 1px solid black;
}

.tasks {
  align-content: center;
  padding: 20px;
  margin: 10px;
  border: 1px solid black;
}

.task {
  display: flex;
}

.todo_details {
  display: flex;
  word-wrap: break-word;
}

input {
  width: 250px;
  padding: 10px;
  height: 20px;
  border: 1px solid black;
  border-radius: 2px;
  margin: 2px;
}

textarea {
  width: 260px;
  height: 50px;
  border-radius: 2px;
  margin: 2px;
}

button {
  width: 100px;
  height: 30px;
  border-radius: 2px;
}

.description {
  width: 1000px;
  word-wrap: break-word;
}

.description:hover {
  cursor: pointer;
  background-color: lightblue;
}

.editForm {
  visibility: hidden;
}

.titleBar {
  display: inline;
  background: rebeccapurple;
}
